*.code-workspace
/.vscode

**/ldk_node_data.sqlite
**/keys_seed
**/ldk_node.log

/target

/mainnet_data
/gossip_dump

*.duckdb*
**/archiver_logs*
**/collector_logs*

.env

infra/ansible/vault.yml
.ansible
infra/ansible/inventory/hosts.ini