*.code-workspace
/.vscode

**/ldk_node_data.sqlite
**/keys_seed
**/ldk_node.log

**/gossip_export.csv
**/node_addresses*

/target

/observer_data
/mainnet_data

*.duckdb*
**/archiver_logs*
**/collector_logs*