*.code-workspace
/.vscode

**/ldk_node_data.sqlite
**/keys_seed
**/ldk_node.log
/data/mainnet

/target

/mainnet_data
/gossip_dump
/db_dumps
/query_results/sbm_results
/query_results/data/*.csv
*.pyc

*.duckdb*
**/archiver_logs*
**/collector_logs*
node_addrs*

.env
/archiver_config*
/collector_config*
**/file_descriptor_set.bin

infra/ansible/vault.yml
.ansible
infra/ansible/inventory/hosts.ini*
infra/ansible/binaries/