- name: Basic server setup
  hosts: all

  tasks:
    - name: Setup user with vault credentials
      tags: [user]
      remote_user: root
      block:
        # must contain 'ssh_pubkey_path'
        - name: Load vault variables
          ansible.builtin.include_vars: vault.yml
        - name: Import user tasks
          ansible.builtin.import_tasks: tasks/user.yml

    - name: Import locale tasks
      ansible.builtin.import_tasks: tasks/locale.yml
      tags: [locale]
      become: true

    - name: Import base packages tasks
      become: true
      ansible.builtin.import_tasks: tasks/base_pkgs.yml
      tags: [base_pkgs]
