- name: Tailscale setup
  hosts: all
  # SSH in as our user, but use sudo for each command
  remote_user: "{{ nonroot_username }}"
  become: true

  tasks:
    - name: Tailscale setup
      tags: [tailscale]
      block:
        # must contain 'tailscale_authkey'
        - name: Load vault variables
          ansible.builtin.include_vars: vault.yml
        - name: Import tailscale tasks
          ansible.builtin.import_tasks: tasks/tailscale.yml

    - name: Firewall setup
      tags: [firewall]
      block:
        - name: Import firewall tasks
          ansible.builtin.import_tasks: tasks/firewall.yml

  handlers:
    - name: Import handlers
      ansible.builtin.import_tasks: handlers/main.yml
