---
# Shared handlers for all playbooks; basically tasks you trigger
# from a 'notify:' statement

- name: Restart systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    state: restarted

- name: Reapply netplan
  ansible.builtin.command: netplan apply
  changed_when: true

- name: Restart nats-server-staging
  ansible.builtin.systemd:
    name: nats-server-staging
    state: restarted
    daemon_reload: true

- name: Restart nats-server-prod
  ansible.builtin.systemd:
    name: nats-server-prod
    state: restarted
    daemon_reload: true

- name: Restart PostgreSQL
  ansible.builtin.systemd:
    name: "postgresql@{{ postgresql_version }}-main"
    state: restarted
    daemon_reload: true

- name: Reload systemd config
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart all gossip collectors
  ansible.builtin.systemd:
    name: "gossip-collector@{{ item.uuid }}"
    state: restarted
    daemon_reload: true
  loop: "{{ host_collectors }}"
  when: host_collectors is defined and host_collectors | length > 0

- name: Restart all gossip archivers
  ansible.builtin.systemd:
    name: "gossip-archiver@{{ item.uuid }}"
    state: restarted
    daemon_reload: true
  loop: "{{ host_archivers }}"
  when: host_archivers is defined and host_archivers | length > 0

- name: Restart all observer controllers
  ansible.builtin.systemd:
    name: "observer-controller@{{ item.uuid }}"
    state: restarted
    daemon_reload: true
  loop: "{{ host_controllers }}"
  when: host_controllers is defined and host_controllers | length > 0
