[Unit]
Description=Gossip Collector %i
After=network-online.target tailscaled.service
Wants=network-online.target

[Service]
Type=simple
User=goss
Group=goss
WorkingDirectory=/var/lib/gossip_collector/%i
Environment="COLLECTOR_UUID=%i"
Environment="COLLECTOR_MODE=production"
ExecStartPre=/bin/sh -c 'sleep $((RANDOM % 30 + 1))'
ExecStart=/usr/local/bin/gossip_collector
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
